*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
games/flame_splatting/FLAME/model
data/beagle
data/hotdog
data/dancer/mesh
distortion_debug_visualization
experiments/
run.sh

training_check
ext/
*.log
log/
debug*.ply
*debug*/
plots/

output_*/
exp_script_*/

MaGS/

CLAUDE.md

/submodules/arap-volume-tracking/data
/submodules/arap-volume-tracking/output
/submodules/arap-volume-tracking/bin
/submodules/tvm-editing/TVMEditor.Test/bin